body
{
	background-color: lightblue;
	font-family: Arial;
}
#main
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo
{
  width:500px;
  height:50px;
  font-size:24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align:center;
}

#logo > span{
  display:block;
  float:left;
  width:45px;
  line-height:45px;
  margin:0 5px;
  border:3px solid #FDD700;
  background-color:#FFF;
  border-radius:15px;
  animation:anim 5s linear infinite;
 
}

@keyframes anim
{
  0% { transform:rotate(0); }
  10% { transform:rotate(360deg); }
  100% { transform:rotate(360deg); }
}



#logo > #element1 {
    animation-delay:250ms;
  
}

#logo > #element2 {
    animation-delay:500ms;
       
}

#logo > #element3
{
     animation-delay:750ms;
       
}

#logo > #element4 {
        animation-delay:1000ms;
        
      }

      #logo > #element5 {
        animation-delay:1250ms;
       
      }

      #logo > #element6 {
        animation-delay:1500ms;
        
      }

      #logo > #element7 {
        animation-delay:1750ms;
        
      }

      #logo > #element8 {
        animation-delay:2000ms;
        
      }

#menu
{
	background-color: #6495ED;
	margin-top:20px;
	padding: 10px;
	height:40px;
	text-align:center;
}

#frame1{
	background-color: #A9A9A9;
	height:10px;	
}
#frame2{
	background-color: #A9A9A9;
	height:10px;	
}

#topbar{
	background-color:#48D1CC;
	height:600px;
}

#topbarL{
	float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
	height: 560px;
	background-color:#20B2AA !important;
}
#topbarR{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
	
	
}


#foot{
	
	background-color: #6495ED;;
	height:20px;	

}


.options
{
		
	font-size: 18px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}
.options:hover
{
		
	cursor:pointer;
}

ol
{
	padding:0px;
	margin:0px;
	list-style-type: none;
	line-height:200%;
	display:inline-block;
}
ol a
{
	text-decoration:none;
	color:white;
	display:block;
}

ol > li 
{
	float:left;
	width:150px;
	height:35px;
	border-right: 1px dashed black;
}

ol > li:first-child
{
	border-left: 1px dashed black;
}

ol > li:hover
{
	background-color: #FFDAB9;

}

ol > li:hover > a{
	color: red;
}

ol > li > ul{
	list-style-type:none;
	padding:0;
	margin:0;
	display:none;
}
ol > li > ul> li
{
	background-color: #FFDAB9;
	position:relative;
	z-index:100;
	border-top: 1px dashed black;
}

ol > li > ul> li:hover{
	background-color:#FFEFD5;
}
ol > li > ul> li:hover > a{
	color: #B22222;
}

ol > li:hover > ul{
	display:block;
}

#lista{
	list-style-type:none;
	margin:0;
	padding:0;
	border:1px solid #6495ED;
	width:130px;
        
}

#lista > li {
	position:relative;
	border-top:1px solid #6495ED;
	background-image:radial-gradient(ellipse at top, #F0FFFF 0%, #6495ED 100%);
      }


#lista li:hover {
    background:#6495ED !important;
}

#lista > li > a {
    display:block;
    text-decoration:none;
    padding:10px;
    text-align:center;
    color:#00A0AA;
    font-size:18px;
    border:1px solid #FFF;
    background-repeat:no-repeat;
    background-position:center;
    transition:1s;
}

#lista > li > a:hover {
    color:#000;
    background-image:url('https://webkod.pl/images/strzalka.png');
    background-position:97% center;
}
	  
	  
@keyframes anim2
{
	0% { opacity:0; }
	100% { opacity:1; }
}

#lista > li:hover > a > span {
	animation:anim2 2s linear;
}

#lista > li:before {
	content:'';
}

#lista > li:after {
	content:'';
}

#lista > li:hover:before {
	content:attr(data-tooltip-1);
	width:100%;
	padding:10px;
	line-height:20px;
	border:1px solid #CCC;
	position:absolute;
	top:-40px;
	left:100%;
	background-image:radial-gradient(ellipse at center, #87CEFA 0%, #87CEFA 100%);
	font-size:1.2em;
	text-align:center;
	animation:tooltip-1 1s;
}

#lista > li:hover:after {
	content:attr(data-tooltip-2);
	width:100%;
	padding:10px;
	line-height:25px;
	border:1px solid #CCC;
	position:absolute;
	top:0;
	left:100%;
	
	background-image:radial-gradient(ellipse at center, #ADD8E6 0%, #ADD8E6 100%);
	font-family:Tahoma, sans-serif;
	transform-origin:50% 100%;
	animation:tooltip-2 1s;
}

@keyframes tooltip-1
{
	0% { transform:translateY(-1500px); opacity:0; }
	100% { transform:translateY(0); opacity:1; }
}

@keyframes tooltip-2
{
	0% { transform:scale(0) rotate(0); opacity:0; }
	100% { transform:scale(1) rotate(360deg); opacity:1; }
}